---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MovieList from "../components/MovieList";
---

<Layout title="TrailersFLix">
  <header class="pb-8">
    <Header />
  </header>
  <main class="container mx-auto">
    <MovieList client:load />
  </main>
</Layout>
